.blog-header {
  padding-top: 10px;
  padding-bottom: 10px;
}

.page-header {
	padding-bottom: 5px;
}

.blog-post-title {
  margin-bottom: 5px;
  font-size: 40px;
}


#blog_create {
	font-size: 13px;
}

#blog-new {
	margin-bottom: 10px;
}