# import 'macro/utils.html' as utils

# block head
	{{utils.prefetch_link(next_url)}}
# endblock

# block content


<div class="container">
	<div class="row">
		<div class="col-md-8 col-sm-4">
			<h1>User Comments</h1>
			# if comments_db
			{% for comments in comments_db %}
				<div class='well'>
					<p>{{comments.body}}</p>
					<hr>
					<p>Created By: {{comments.creator}} on {{ moment(comments.created).format('MMMM Do YYYY, h:mm:ss a') }}</p>
				</div>
			{% endfor %}
			# else
				<p>No one has commented yet. Be the first!</p>
			# endif
		</div>
	</div>
</div>
{{utils.next_link(next_url, prev_url)}}
	{{ moment.include_jquery() }}
	{{ moment.include_moment() }}
# endblock