# extends 'base.html'

# block content
	<h1>Show Information</h1>


{% for show in shows %}
	<div  class="well">
		{% if show['poster_path'] %}
			<img id="poster" src="https://image.tmdb.org/t/p/w300{{ show['poster_path'] }}">
		{% endif %}
		<p>{{ show['overview']}}</p>
		{% if show['networks'].0 %}
			<p>{{ show['networks'].0.name }}</p>
		{% endif %}

		<p>Number of Seasons: {{ show['number_of_seasons'] }}</p>
		<p>Last Air Date: {{ show['last_air_date'] }}</p>
		{% if show['homepage'] %}
			<p><a href="{{ show['homepage'] }}">Visit Show's Website</a></p>
		{% endif %}
		<a href="{{ url_for('fav_show', id=show['id']) }}">
			<button class="btn btn-primary" type="submit">
				<i class="fa fa-star-o" aria-hidden="true"> Add To Favorites</i>
			</button>
		</a>
	</div>
{% endfor %}

<a href="{{ url_for('shows_weekly') }}">Back To Results</a>

		
# endblock