# extends 'base.html'
# import 'macro/utils.html' as utils

# block content
{% if media == 'tv' %}
	{% include 'tvShowDetails.html' %}
{% elif media == 'movie' %}
	{% include 'movieDetails.html' %}
{% else %}
	{% include 'actorDetails.html' %}
{% endif %}


	{% if back_url == 'shows_today' %}
		<a href="{{ url_for('shows_today') }}">Back To Results</a>
	{% elif back_url == 'shows_weekly' %}
		<a href="{{ url_for('shows_weekly', page=1) }}">Back To Results</a>
	{% elif back_url == 'my_favorites' %}
		<a href="{{ url_for('my_favorites') }}">Back To Favorites</a>
	{% else %}
		<a href="{{ url_for('search_a_show') }}">Back To Search</a>
	{% endif %}


	{% include 'new_comment.html' %}
	{% include 'comments.html' %}
	{{utils.next_link(next_url, prev_url)}}
</div>

		
# endblock