# extends 'base.html'
# import 'macro/forms.html' as forms

# block content

	<h3>GitHub</h3>
	<a href="https://github.com/JerEpoch">My Github</a>

	<h3>Travel Site Demo</h3>
	<p>A demo of a fake travel site built using HTML, CSS and Javascript.</p>
	<a href="https://jerepoch.github.io/travel-site/">Travel Site</a>
	<div class="box"><iframe src="https://jerepoch.github.io/travel-site/" width="500px" height="500px"></iframe></div>
	
	<h3>Wiki Site</h3>
	<p>This is one of the first sites I built. It was part of the course at Udacity.
	Eventually I'll add it to the main site, but for now it's on the original appspot address.</p>
	<a href="https://wiki-147210.appspot.com/">Wiki Site</a>
	<div class="box"><iframe src="https://wiki-147210.appspot.com/" width="500px" height="500px"></iframe></div>

	<h3>YelpCamp</h3>
	<p>Built along with Web Developer Bootcamp on Udemy. Uses Express, Node and MongoDB. A mock site that users can add
		campgrounds, set the price, and add comments.</p>
	<a href="https://arcane-gorge-10790.herokuapp.com/">YelpCamp</a>
	<div class="box"><iframe src="https://arcane-gorge-10790.herokuapp.com/" width="500px" height="500px"></iframe></div>

	<h3>Color Matching Game</h3>
	<a href="{{ url_for('color_game') }}">Color Match</a>
	<div class="box"><iframe src="{{ url_for('color_game') }}" width="500px" height="500px"></iframe></div>

# endblock