# extends 'base.html'
# import 'macro/forms.html' as forms

# block content

	<h3>GitHub</h3>
	<a href="https://github.com/JerEpoch">My Github</a>
	
	<h3>Wiki Site</h3>
	<p>This is one of the first sites I built. It was part of the course at Udacity.
	Eventually I'll add it to the main site, but for now it's on the original appspot address.</p>
	<a href="https://wiki-147210.appspot.com/">Wiki Site</a>

	<h3>YelpCamp</h3>
	<p>Built along with Web Developer Bootcamp on Udemy. Uses Express, Node and MongoDB. A mock site that users can add
		campgrounds, set the price, and add comments.</p>
	<a href="https://arcane-gorge-10790.herokuapp.com/">YelpCamp</a>

	<h3>Color Matching Game</h3>
	<a href="{{ url_for('color_game') }}">Color Match</a>

# endblock