# extends 'base.html'
# import 'macro/forms.html' as forms


# block content
<body id="test">

	<div class="container-fluid">
		<div class="row">
			<div class="col-md-6">
			<h1>Search</h1>
				<form method="POST" action=".">
					<fieldset>
						{{ form.csrf_token }}
						

						{{forms.text_field(form.name, autofocus=True, placeholder="Show Name")}}
						
						<button type="submit" id="btn-search" class="btn btn-primary">
							Search
						</button>

					</fieldset>
				</form>
				
				<a href="{{ url_for('shows_today', page=1, back_url='shows_today') }}">
					<button type="submit" id="btn-today" class="btn btn-primary">
						Today's Shows
					</button>
				</a>

				<form action="{{ url_for('shows_weekly', page=1, back_url='shows_weekly') }}" method="POST">
					<button type="submit" id="btn-week" class="btn btn-primary">
						Weekly Shows
					</button>
					
				</form>
			<br>
			<p>Powered By <a href="https://www.themoviedb.org">The Movie DB</a></p>
			
			</div>
		</div>
	</div>
</body>


# endblock