# extends 'base.html'
# import 'macro/forms.html' as forms


# block content
<body id="test">
	<h1>Search For a Show</h1>


	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-6 col-md-4">
				<form method="POST" action=".">
					<fieldset>
						{{ form.csrf_token }}
					
						{{forms.text_field(form.name, autofocus=True)}}
						<button type="submit" class="btn btn-primary btn-block">
							Search
						</button>
					</fieldset>
				</form>
			</div>
				<div class="col-xs-6 col-md-4">
				<a href="{{ url_for('shows_today') }}">
					<button type="submit" id="btn-today" class="btn btn-primary btn-block">
						Today's Shows
					</button>
				</a>
				<form action="{{ url_for('shows_weekly') }}" method="POST">
					<button type="submit" id="btn-week" class="btn btn-primary btn-block">
						Weekly Shows
					</button>
				</form>
			</div>
		</div>
	</div>
</body>


# endblock