# extends 'base.html'


# block content

<!-- <h1>Testing</h1>

<form class="form-inline" method="POST" action="{{ url_for('test_list') }}">
  <div class="form-group">
    <div class="input-group">
        <span class="input-group-addon">Please select</span>
            <select name="comp_select" class="selectpicker form-control">
              {% for o in list_data %}
              <option value="{{ o.name }}">{{ o.name }}</option>
              {% endfor %}
            </select>
    </div>
    <button type="submit" class="btn btn-default">Go</button>
  </div>
</form> -->


<div id="containerTest">


    
    <div id="blahtest">Hello</div>
    <div>Hello</div>
    <div>Hello</div>
    <div>Hello</div>
    <div>Hello</div>
    <div>Hello</div>
    <div class="hideme">Fade In</div>
    <div class="hideme">Fade In</div>
      <div class="waypointTest" id="basic-waypoint">
<figure class="highlight"><pre><code class="language-js" data-lang="js"><span class="kd">var</span> <span class="nx">waypoint</span> <span class="o">=</span> <span class="k">new</span> <span class="nx">Waypoint</span><span class="p">({</span>
  <span class="na">element</span><span class="p">:</span> <span class="nb">document</span><span class="p">.</span><span class="nx">getElementById</span><span class="p">(</span><span class="s1">'basic-waypoint'</span><span class="p">),</span>
  <span class="na">handler</span><span class="p">:</span> <span class="kd">function</span><span class="p">()</span> <span class="p">{</span>
    <span class="nx">notify</span><span class="p">(</span><span class="s1">'Basic waypoint triggered'</span><span class="p">)</span>
  <span class="p">}</span>
<span class="p">})</span></code></pre></figure>
</div>
    <div class="hideme">Fade In</div>
    <div class="hideme">Fade In</div>
    <div class="hideme">Fade In</div>
    
</div>

<div class="container">
  <div class="content_box">Look at me!</div>
</div>



<div id="target">
  Click here
</div>
<div id="other">
  Trigger the handler
</div>

# endblock