# extends 'base.html'


# block content

<h1>Testing</h1>

{% for show in shows %}
	<p>{{ show.name }}</p>
				{% if show['poster_path'] %}
				<img id="poster" src="https://image.tmdb.org/t/p/w300{{ show['poster_path'] }}">
			{% endif %}
{% endfor %}

<p>Currently on page {{page}} of {{totalPages}}</p>
{% if (page > 1) %}
	<a href="{{ url_for('show_info', page=page-1) }}">Previous</a>
{% endif %}
{% if(page < totalPages) %}
	<a href="{{ url_for('show_info', page=page+1) }}">Next</a>
{% endif %}



# endblock