# extends 'base.html'
# import 'macro/forms.html' as forms

# block content
	<div class="container-fluid">
		<h1>{{ head }}</h1>

		<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
			
				{% for show in shows %}
					<div class="panel panel-default">
			    	<div class="panel-heading" role="tab" id="{{ show['name'] }}">
			      	<h4 class="panel-title">
				        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse{{loop.index}}" aria-expanded="false" aria-controls="collapse{{loop.index}}">
				          {{ show['name'] }}
				        </a>
			      	</h4>
			    	</div>
			    <div id="collapse{{loop.index}}" class="panel-collapse collapse " role="tabpanel" aria-labelledby="{{ show['name'] }}">
			      <div class="panel-body">
							{{ show['overview'] }}
							<p><a href="{{ url_for('show_detail', show=show['name']) }}">Read More</a></p>
			      </div>
			    </div>
			  </div>
			{% endfor %}
		</div>
	</div>

# endblock