
# block content

{% for show in shows %}

<div class="container">
	<div class="row">
		<div class="well">
			<h1>{{ show['original_name'] }}</h1>
			<p>{{ show['overview']}}</p>
			{% if show['networks'] %}
				<p>Network: {{ show['networks'].0.name }}</p>
			{% endif %}

			<p>Number of Seasons: {{ show['number_of_seasons'] }}</p>
			<p>Runtime: {{ show['episode_run_time'][0] }} minutes</p>
			{% if show['homepage'] %}
				<p><a href="{{ show['homepage'] }}">Show's Website</a></p>
				
			{% endif %}
			<a href="{{ url_for('fav_show', id=show['id']) }}">
			{% if back_url != 'my_favorites' %}
				{% if fav == 'False' %}
					<button class="btn btn-primary" type="submit">
						<i class="fa fa-star-o" aria-hidden="true"> Add To Favorites</i>
					</button>
				{% endif %}
			{% endif %}
			</a>
		</div>
	</div>
</div>
	{% if media == 'tv' %}
		<a href="{{url_for('similarShows', id=show['id'])}}">Shows Similar to {{show['name']}}</a><br>
	{% endif %}

{% endfor %}

# endblock