
# extends 'base.html'


# block content


<div class="container" id="show-header">
	<h1>{{ head }}</h1>
</div>


	{% for show in shows %}
		{% if show['media_type'] %}
			{% set media = show['media_type'] %}
		{% endif %}

			<div class="container" id="posterDiv">
				{% if show['poster_path'] %}
					<a href="{{ url_for('show_detail', id=show['id'], media=media, order='-created', back=back_url) }}">
						<img id="poster" src="https://image.tmdb.org/t/p/w300{{ show['poster_path'] }}">
					</a>
				{% endif %}
			</div>
		
	{% endfor %}

<div class="container" id="show-search">
	<a href="{{ url_for('search_a_show') }}">New Search</a>
</div>

# endblock