
# extends 'base.html'


# block content


<div class="container" id="posterDiv">
	<h1>{{ head }}</h1>


	{% for show in shows %}
		
			<div class="container" id="posterDiv">
				{% if show['poster_path'] %}
					<a href="{{ url_for('show_detail', id=show['id'], order='-created', back=back_url) }}">
						<img id="poster" src="https://image.tmdb.org/t/p/w300{{ show['poster_path'] }}">
					</a>
				{% endif %}
			</div>
		
	{% endfor %}

	<a href="{{ url_for('search_a_show') }}">New Search</a>
</div>

# endblock